<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль команды | InvExGame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <style>
        #login-page-logo {
            max-width: 500px;
            padding: 20px 0px 20px 0px;
        }
        #main_cont {
            max-width: 900px;
        }
        p {
            margin: 5px 20px 5px 20px;
        }
    </style>
</head>
    <body>
        <div id="main_cont" class="container-sm">
            <div id="login-page-logo" class="container-sm">
                <img src="https://imgbly.com/ib/yUk75dcVpP.png" width="100%">
            </div>
            <div>
                <h3>Название команды</h3>
                <div class="border border-light-subtle rounded-2 p-2 mb-2"><p>Уничтожители пельменей</p></div>
                <h3>Информация о команде</h3>
                <div class="border border-light-subtle rounded-2 p-2 mb-2"><p>Разнообразный и богатый опыт сложившаяся структура организации влечет за собой процесс внедрения и модернизации модели развития. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения соответствующий условий активизации. Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании модели развития. Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации соответствующий условий активизации. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание соответствующий условий активизации.
                </p></div>
                <h3>Состав команды</h3>
                <div class="border border-light-subtle rounded-2 p-2 mb-2"><p>Йцукен Гшщзхъ, Фывапр Олджэ, Ячсм Итьбю</p></div>
            </div>
        </div>
    </body>
</html>

